MAINNET_URL=
ETHERSCAN_API_KEY=
MNEMONIC=test test test test test test test test test test test junk
ETHERNAL_EMAIL=
ETHERNAL_PASSWORD=
ETHERNAL_ENABLED=false
BLOCK_NUMBER=17457831
MONITOR_WEBHOOK_TOKEN=
MONITOR_WEBHOOK_ID=
